@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
  background-color: rgba(78, 71, 255, 0.1);;
}
a{
    text-decoration: none;
    display: inline-block;
}
header{
background-image: url(../img/Hero-bg.png);
background-repeat: no-repeat;
max-width: 1400px;
height: 600px;
}

/* navber stlye */

nav{
    display: flex;
   justify-content: space-between;
   padding: 30px 110px;
}
nav h1{
    font-size: 30px;
    font-style: italic;
}
nav h1 span{
color:#4E47FF;
}
.btn{
    background-color: #4E47FF;
    font-size: 16px;
    padding: 7px 18px;
    color: #FFFFFF;
    border-radius: 10px;
    border: 0;
    transition: all ease-in-out 1S;
}
.btn:hover{
    transform: translateY(-10px);
    background-color: #252432;
}
.navigation-banner{
     width: 700px;
   text-align: center;
   margin: 100px auto;
    }
.navigation-banner h2{
    color: #252432;
    font-size: 50px;
    margin-bottom: 50px;
    
}